/*------------------------------------------------------------------
  - General
		- Buttons
		- Page Title
	- Header
		- Desktop Version
		- Mobile Version
	- Pages
		- Homepage
		- About
		    - Personal Info 
			- Box Stats
			- Skills
		- Projects
        - Contact
            - Left Side
            - Contact Form
-------------------------------------------------------------------*/

/* GENERAL */


html {
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-color: #16161d;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-thumb{
  background-color: #5f27cd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #5c1adf;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

hr.separator {
  border-top: 1px solid #252525;
  margin: 70px auto 55px;
  max-width: 40%;
}

.ft-wt-600 {
  font-weight: 600;
}

.mb-30 {
  margin-bottom: 30px;
}

.no-transform {
  transform: none !important;
}

.custom-title {
  padding-bottom: 22px;
  font-size: 26px;
}

/*** Buttons ***/

.btn {
  box-shadow: none !important;
  border-radius: 26px;
  font-weight: 500;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 40px;
  outline: none !important;
  overflow: hidden;
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  border: 0;
}

.btn,
.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
}

/*** Page Title ***/

.title-section {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
}

.title-section h1 {
  font-size: 56px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.title-bg {
  font-size: 110px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.07);
}

/*================================================== */

/*** Desktop Navigation ***/

@media (min-width: 992px) {
  /*** Navigation ***/
  .header {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
  }
  .header.hide-header {
    z-index: 0 !important;
    opacity: 0;
  }
  .header ul.icon-menu {
    margin: 0;
    padding: 0;
  }
  .header ul.icon-menu li.icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
  }
  .header ul.icon-menu li.icon-box i {
    color: #ddd;
    font-size: 19px;
    transition: 0.3s;
  }
  .header ul.icon-menu li.icon-box.active,
  .header ul.icon-menu li.icon-box:hover,
  .header ul.icon-menu li.icon-box.active i,
  .header ul.icon-menu li.icon-box:hover i {
    color: #fff;
  }
  .header .icon-box h2 {
    font-size: 15px;
    font-weight: 500;
  }
  .header .icon-box a {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .header .icon-box i.fa {
    position: absolute;
    pointer-events: none;
  }
  .header .icon-menu i {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 35px;
    top: 15px;
  }
  .header .icon-box h2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    transition: all 0.3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
  }
  .header .icon-box a:hover h2 {
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
  }
}

/*================================================== */

/*** Homepage ***/

.home .color-block {
  position: fixed;
  height: 300%;
  width: 100%;
  transform: rotate(-55deg);
  left: -30%;
  top: 30%;
}

.home .color-block2 {
  position: fixed;
  height: 100%;
  width: 100%;
  transform: rotate(-55deg);
  right: -60%;
  top: -130%;
  background-color: #5f27cd;
}

.home .bg {
  background-image: url(../images/me.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 60px);
  z-index: 111;
  border-radius: 15px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

.home .container-home {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.home .home-details > div {
  max-width: 550px;
  margin: 0 auto;
}

.home .home-details h1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin: 18px 0 10px;
}

.home .home-details h1 span {
  color: #fff;
  font-weight: 600;
}

.home .home-details h6 {
  color: #eee;
  font-size: 22px;
  font-weight: 400;
  display: block;
}

.home .home-details p {
  margin: 10px 0 23px;
  font-size: 16px;
  line-height: 32px;
}

.extra-link {
  color: #fff;
  text-decoration: underline;
}

.about-p .extra-link {
  color: #5f27cd;
}

/*** About ***/

.about .main-content {
  padding: 20px 0 0;
}

/* Personal Info List */

.about-grid-1{
  display: grid;
  grid-template-columns: 2fr 1fr ;
}

.about-img-div{
  width: 90%;
  align-self: center;
  justify-self: flex-end;  
}

.about-img{
  width: 100%;
  border-radius: 50%;
  transform: rotateZ(-10deg);
  /* object-fit: cover; */
  border: 3px solid #5f27cd;
}

.about-p {
  font-size: 1.7rem;
}

.about p.typeit2 {
  font-size: 1.8rem;
}

.about p.typeit2 span {
  color: #5f27cd;
  font-size: 2.4rem;
}

.btn-about-letschat:hover span {
  transform: none !important;
  cursor: pointer;
}

/* Box Stats */

.about .box-stats {
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  border: 1px solid #252525;
}

.about .box-stats.with-margin {
  margin-bottom: 30px;
}

.about .box-stats h3 {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

.about .box-stats h3:after {
  content: "+";
  position: absolute;
  right: -24px;
  font-size: 33px;
  font-weight: 300;
  top: 2px;
}

.about .box-stats p {
  padding-left: 45px;
}

.about .box-stats p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 30px;
  height: 1px;
  background: #777;
}

@media only screen and (max-width: 600px) {
  .about .main-content {
    padding-top: 80px;
  }
  .about-p {
    font-size: 1.2rem;
  }
}

/* Skills */

.skill-div {
  text-align: center;
}

.skill-icon {
  width: 100px;
  height: 100px;
}

/*** Projects ***/

.project {
  width: 40%;
  display: inline-block;
  height: 100%;
  margin: 4rem 3rem;
  border: #260b4d solid 4px;
  padding: 0.2rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.project img {
  position: relative;
  top: 2px;
  width: 100%;
  transition: all 300ms ease-in-out;
}

.project7 {
  height: 10%;
}

.project:hover img {
  transform: scale(1.1);
  opacity: 0.2;
}

.project p {
  width: 100%;
  height: 1%;
  text-align: center;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.more-proj {
  text-align: center;
  font-size: 1.1rem;
  padding: 0 0 10px;
}

.more-proj a {
  color: #5f27cd;
  text-decoration: underline;
}

@media only screen and (max-width: 1360px) {
  .project {
    width: 60%;
    display: block;
    margin: 3rem auto;
  }
}

@media only screen and (max-width: 1000px) {
  .projects-section {
    padding-bottom: 40px;
  }
  .project {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .project {
    width: 85%;
  }
  .project:hover img {
    transform: scale(1);
    opacity: 1;
  }
  .project p {
    position: static;
    font-size: 1.4rem;
    font-weight: 500;
    /* text-decoration: underline; */
  }
  .more-proj {
    padding: 0 10px 0;
  }
}

@media only screen and (max-width: 650px) {
  .projects-section {
    padding-top: 40px;
  }
  .project {
    width: 95%;
  }
}

/*** Contact ***/

.contact .main-content {
  padding-bottom: 85px;
}

/* Left Side */

.contact .custom-span-contact {
  font-weight: 600;
  padding-left: 50px;
  line-height: 21px;
  padding-top: 5px;
}

.contact .custom-span-contact i {
  left: 0;
  top: 10px;
  font-size: 33px;
}

.contact .custom-span-contact i.fa-phone-square {
  font-size: 39px;
  top: 7px;
}

.contact .custom-span-contact span {
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 400;
}

.contact ul.social {
  margin-left: -5px;
}

.contact ul.social li {
  display: inline-block;
}

.contact ul.social li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  font-size: 17px;
  margin: 0 6px;
  background: #2b2a2a;
  border-radius: 50%;
}

/* Form */

.contact .contactform input[type="text"],
.contact .contactform input[type="email"] {
  border: 1px solid #111;
  width: 100%;
  background: #252525;
  color: #fff;
  padding: 11px 26px;
  margin-bottom: 30px;
  border-radius: 30px;
  outline: none !important;
  transition: 0.3s;
}

.contact .contactform textarea {
  border: 1px solid #111;
  background: #252525;
  color: #fff;
  width: 100%;
  padding: 12px 26px;
  margin-bottom: 20px;
  height: 160px;
  overflow: hidden;
  border-radius: 30px;
  outline: none !important;
  transition: 0.3s;
}

.contact .contactform .form-message {
  margin: 24px 0;
}

.contact .contactform .output_message {
  display: block;
  color: #fff;
  height: 46px;
  line-height: 46px;
  border-radius: 30px;
}

.contact .contactform .output_message.success {
  background: #28a745;
}

.contact .contactform .output_message.success:before {
  font-family: FontAwesome;
  content: "\f14a";
  padding-right: 10px;
}

.contact .contactform .output_message.error {
  background: #dc3545;
}

.contact .contactform .output_message.error:before {
  font-family: FontAwesome;
  content: "\f071";
  padding-right: 10px;
}

/* [ RESPONSIVE DESIGN STYLES ] */

@media screen and (max-width:1200px) {
  .container{
    max-width: none;
  }
}
@media (max-width: 1100px) and (min-width: 992px) {
  .home .home-details > div {
    max-width: 450px;
  }
}

@media (min-width: 1600px) {
  .home .home-details > div {
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .home .home-details-container {
    width: 100%;
    height: 100vh;
  }
  body.home {
    overflow: hidden;
  }
  .btn:before {
    font: 15px/1.2em FontAwesome;
    color: #fff;
    position: absolute;
    height: 100%;
    right: 25px;
    top: 50%;
    margin-top: -9px;
    transition: all 0.3s;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  /* .btn.btn-about:before {
        content: "\f007";
    }
    .btn.btn-portfolio:before {
        content: "\f07c";
        margin-top: -8px;
    }
    .btn.btn-preview:before {
        content: "\f08e";
    }
    .btn.btn-download:before {
        content: "\f019";
    }
    .btn.btn-contact:before {
        content: "\f1d8";
    } */
  .btn span {
    position: relative;
    display: block;
    transition: all 0.3s;
  }
  .btn:hover span {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  .btn:hover:before {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Mobile  Navigation */

@media (max-width: 991px) {
  .btn {
    padding: 0 28px;
  }
  body.home {
    padding: 25px;
  }
  body.home .main-container {
    padding: 30px 0 !important;
  }
  .home .home-details-container {
    margin: 0 auto;
  }
  .home .home-details {
    padding: 0;
  }
  .about-grid-1{
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr;
  }
  .about-img-div{
    width: 270px;
    /* height: 100px; */
    grid-row: 1;
    justify-self: center;
    align-self: flex-start;
  }
  .main-img-mobile {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    border: 4px solid #5f27cd;
    object-fit: cover;
    object-position: 50% 30%;
    position: relative;
    top: -20px;
    left: 33%;
  }
  .home .home-details h1 {
    font-size: 38px;
    line-height: 38px;
    margin: 29px 0 13px;
  }
  .home .home-details p {
    margin: 10px 0 23px;
    font-size: 15px;
    line-height: 30px;
  }
  #menuToggle {
    display: inline-block;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1111;
    user-select: none;
    padding: 19px 0 0 16px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    background: #252525;
  }
  #menuToggle input {
    display: flex;
    width: 54px;
    height: 54px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
  }
  #menuToggle > span {
    display: flex;
    width: 23px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #5f27cd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle > span:first-child {
    transform-origin: 0 0;
  }
  #menuToggle > span:nth-last-child(2) {
    transform-origin: 0 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(4px, 0);
    background: #fff;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(2px, 4px);
  }
  #menu {
    position: fixed;
    /* text-align: center; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 60px;
    background-color: #252525;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  #menu li {
    position: relative;
    padding-left: 30px;
  }
  #menu li:after {
    position: absolute;
    content: "";
    height: 1px;
    width: calc(100% - 60px);
    background: #333;
    left: 30px;
  }
  #menu li:last-child:after {
    display: none;
  }
  #menu li.active a span {
    font-weight: 600;
  }
  #menu li a {
    color: #fff;
    text-transform: uppercase;
    transition-delay: 2s;
    font-size: 26px;
    display: block;
    text-decoration: none;
    padding: 14px 0;
    position: relative;
  }
  #menu li a span {
    position: absolute;
    left: 50px;
    font-weight: 400;
  }
  .contact .main-content {
    padding-bottom: 0;
  }
}

@media (max-width: 835px) {
  .main-img-mobile {
    left: 28%;
  }
}

@media (max-width: 767px) {
  .home .home-details p {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
  .btn {
    font-size: 14px;
  }
  body {
    font-size: 14px;
  }
  .title-section.revealator-delay1 {
    transform: none !important;
    opacity: 1 !important;
  }
  #menuToggle {
    right: 10px;
    top: 4px;
    padding: 19px 0 0 13px;
    width: 49px;
    height: 49px;
  }
  .home #menuToggle {
    right: 25px;
    top: 25px;
    padding: 17px 0 0 13px;
  }
  #menu li {
    padding-left: 25px;
  }
  #menu li a {
    font-size: 18px;
  }
  #menu li:after {
    width: calc(100% - 50px);
    left: 25px;
  }
  #menu li a span {
    left: 35px;
  }
  .main-content {
    padding-top: 85px;
  }
  .main-content > .container {
    padding: 0 25px 0;
  }
  .home .home-details h1 {
    font-size: 29px;
    line-height: 29px;
    margin: 18px 0 13px;
  }
  .home .home-details h6 {
    font-size: 19px;
  }
  .home-details {
    padding-left: 10px !important;
  }
  .title-section {
    padding: 16px 25px 14px;
    background: #252525;
    border-bottom: 1px solid #333;
    margin-bottom: 36px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 11;
    top: 0;
  }
  .title-section h1 {
    font-size: 26px;
  }
  .title-bg {
    display: none;
  }
  .custom-title {
    font-size: 21px;
  }
  .main-img-mobile {
    left: 10%;
  }
  .about .main-content {
    padding-bottom: 0;
  }
  .about .box-stats {
    padding: 15px 20px 20px 25px;
  }
  .about .c100 {
    transform: scale(0.8);
  }
  .about .box-stats.with-margin {
    margin-bottom: 25px;
  }
  .about .box-stats h3 {
    font-size: 40px;
  }
  .about .box-stats p {
    padding-left: 0;
  }
  .about .box-stats p:before {
    display: none;
  }
  .blog .main-content {
    padding-bottom: 55px;
  }
  .blog-post article h1 {
    font-size: 25px;
  }
  .separator.mt-1 {
    margin-top: 35px !important;
  }
}
