*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.about-div {
  max-width: 120rem;
  margin: 0 auto;
}

  .about-div {
    padding: 0 3rem;
  }

/* Header */

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background: #000; */
  background-color: #710071;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23450045' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23430043'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    z-index: 1;
}

.nav {
  padding: 2.3rem 13rem 1.6rem 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#710071;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .logo h1{
  color: #fff;
}
.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  font-weight :500;
  font-size: 1.8rem;
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
text-decoration: underline;
}

.top-nav {
  display: none;
}

.hamburger {
  display: none;

}

@media only screen and (max-width: 1000px) {
  .nav{
    padding-right: 4rem;
    padding-left: 2rem
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;   /* this makes the nav hidden when width<768px */
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    border-right: #000 1px solid;
    transition: all 1000ms ease-in-out;
    z-index: 100;
  }
  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #710071;
    padding: 2.5rem 0 ;
  }
  .top-nav .close {
    color: #fff;
    font-size: 2.3rem;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    right :  2%;
  }

  .hamburger {
    display: block;
    color: #fff;
    font-size: 2.6rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.5;
    color: #222;
    padding: 0 3rem;
  }
  .nav-link:hover{
    color:#fff;
    background-color: #710071;
    text-decoration: none;
  }
  .nav-link:first-of-type{
    margin-top:15px;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.6rem;
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (max-width: 512px) {
  .nav-link:first-of-type{
    margin-top: 0px;
  }
  }

/* me */
.me {
  position: absolute;
  top: 50%;
  left : 5%;
  transform: translate(25%, -50%);
  color: #fff;
}

.me h3 {
  font-weight: 400;
}

.me h1 {
  font-size: 4.5rem;
}

.me h4 span {
  color: #000;
  font-size: 3rem;
}

.me a:link,
.me a:visited {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  border: 1px solid #fff;
  background-color: #710071;
  color: #fff;
  margin-top: 2rem;
}

.me a:hover {
  color:#710071;
  background-color: #fff;
  transition: ease 0.5s;
  border-radius: 4px;
}

.mypic {
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 40rem;
  z-index: -1;
}

.social-icons {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.social-icons a:not(:last-child) {
  margin-right: 1rem;
}

.social-icons a {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.social-icons a:hover i{
  transform: translateY(-3px);
}


@media only screen and (max-width: 1000px) {
  .header {
    min-height: 60vh;
  }

  .mypic {
    width: 23rem;
  }
}

@media only screen and (max-width: 996px) {
  .me {
    transform: translate(10%, -50%);
  }
}

@media only screen and (max-width: 768px) {
  .me h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 690px) {
  .me{
    left:3%;
  }
.mypic{
  right:3%
}
}

@media only screen and (max-width: 569px) {
  .mypic {
display: none;
}
.mobile-mypic{
display: block;
}
  .me{
    text-align: center;
    top: 0;
    left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1%;
  margin:auto;
  transform: translateY(-8rem);
  }
  .social-icons{
    top: 0;
    left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1%;
  margin:auto;
  text-align: center;
  transform: translateY(13.5rem);
  }
}


/* section */

.section {
  padding: 5rem 0 7rem 0;
  overflow-x: hidden;
}

/* About */

.mobile-mypic{
  display :none;
}

.title {
  margin: 4rem 0 7rem 0;
  text-align: center;
}

.title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #710071;
  width: 60%;
  height: 0.4rem;
  z-index: 1;
}

.about-right h1 {
  margin-bottom: 2rem;
    line-height: 1.5;
}

.about-right p {
  line-height: 2;
  margin-bottom: 2rem;
  color: #333;
}

.about-right h1 span {
  color: #710071;
}

a.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #710071;
  color: #fff;
  border-radius: 0.5rem;
  border: 2px solid #710071;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

a.btn:hover {
  transform: translateY(-3px);
  background-color: transparent;
  color: inherit;
}

a.btn:active {
  transform: translateY(0px);
}

@media only screen and (max-width: 996px) {
  .about-right h1 {
    font-size: 2rem;
  }

  .about-right p {
    font-size: 1.5rem;
  }

  a.btn {
    padding: 0.7rem 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .left {
    text-align: center;
  }
}
@media only screen and (max-width: 569px) {
.mobile-mypic{
display: block;
border-radius: 50%;
width: 15rem;
margin: 0 auto;
}
}

/* Projects */

.projects-section {
  background-color: #000;
}

.projects-section .title {
  color: #fff;
}
.projects-div{
  padding:0 5rem;
}
.project{
  width:45%;
  display: inline-block;
  height:100%;
  margin:4rem 3rem;
border:#710071 solid 4px;
padding: 0.2rem;
overflow: hidden;
cursor: pointer;
position: relative;
}
.project1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project img{
  position: relative;
  top:2px;
  transition: all 300ms ease-in-out;
}

.project p{
  width: 100%;
  height: 1%;
  text-align: center;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
   right: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.project:hover img{
  transform: scale(1.1);
  opacity: 0.2;
}

@media only screen and (max-width:1360px) {
  .project{
    width:60%;
    display: block;
    margin : 3rem  auto;
  }
}

@media only screen and (max-width:1000px) {
  .project{
    width: 75%;
  }
}

@media only screen and (max-width:800px) {
  .project{
    width:85%;
  }
}

@media only screen and (max-width:650px) {
  .project{
    width:95%;
  }
}

/* Skills */

.skills-box{
  text-align: center;
  margin-bottom: 2rem;
}

.skills-box h4 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 10px;
  color: #000;
}

.skill-icon{
  width: 28%;
}
.js-icon{
  width: 23%;
}
.js-skill-box{
  position: relative;
  top:15px;
}
.skills-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}

@media only screen and (max-width: 768px) {
  .skills-center {
    grid-template-columns: 1fr;
  }
  .skill-icon{
    width :15%;
  }
}

/* Contact */
.contact-section{
  background: #000;
  color: #fff;
}
.contacts{
  line-height: 3;
}
.contact-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 0 3rem 0 10rem;
}

.form h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.form{
  overflow: hidden;
  padding: 0 2rem 0 0
}
.form input,
.form textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 0;
  text-indent: 1rem; /*for space at start of text and border*/
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
    max-width:70rem;
  display: block;
  outline: none;
}

.form textarea {
  resize: none;
    max-width:55rem;
  height: 16rem;
  margin-bottom: 3rem;
}

.form .btn{
  color:#000;
  padding: 7px;
  font-weight: bold;
  font-size: 1.8rem;
  background: #710071;
  border:#710071 2px solid;
  border-radius: 6px;
  transition: all 300ms ease-in-out;
}
.form .btn:hover{
  transform: translateY(-3px);
  background: none;
  cursor: pointer;
  color: #710071;

}
@media only screen and (max-width: 1010px) {
   .contact-div{
padding: 0 3rem;
 }
}
@media only screen and (max-width: 768px) {
  .contact-div {
    grid-template-columns: 1fr;
    padding: 0 3rem;
  }

  .contact-div .left {
    text-align: left;
  }

  .left div .content h3 {
    font-size: 1.6rem;
  }

  .left div .content span {
    font-size: 1.5rem;
  }
}

.status-div{
  display: none;
  width: 100%;
  height: 100px;
  background:none;
  border:#710071 2px inset;
}

.status-success::after,.status-error::after{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 1%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

}
.status-success::after{
  content: "Thank you!! I'll write back to you!!"
}
.status-error::after{
  content: "Some error occured. Please wait for 10 seconds and try again."
}
footer {
  background-color: #000;
  padding: 1.6rem 1rem;
  text-align: center;
}

footer p {
  color: #fff;
}

footer p span {
  color: #710071;
}
